dependencies/ocpp/OSCP_1/OSCPDistributionSystemOperatorService.wsdl.txt

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://OSCP/DSO/2013/06/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" name="Untitled"
	targetNamespace="http://OSCP/DSO/2013/06/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns="http://OSCP/DSO/2013/06/" targetNamespace="http://OSCP/DSO/2013/06/"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:complexType name="Adjustment">
				<xs:sequence>
					<xs:element ref="tns:Cable" />
					<xs:element ref="tns:CapacityBlock" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="CableId">
				<xs:restriction base="xs:string" />
			</xs:simpleType>
			<xs:simpleType name="DateTime">
				<xs:restriction base="xs:dateTime" />
			</xs:simpleType>
			<xs:simpleType name="DetailDescription">
				<xs:restriction base="xs:string" />
			</xs:simpleType>
			<xs:simpleType name="EMSP">
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="Cable">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CableId" type="tns:CableId" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="GetCapacityForecastRequest">
				<xs:annotation>
					<xs:documentation>Defines the CSP request towards DSO for a
						capacity forecast
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element ref="tns:Cable" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GetCapacityForecastResponse">
				<xs:annotation>
					<xs:documentation>Defines the DSO response towards CSP on a
						capacity forecast request
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Result" type="tns:Result" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="Priority">
				<xs:annotation>
					<xs:documentation>
						Element used to prioritize message:
						0 Critical
						/Emergency
						1 Urgent
						2 Normal
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:int">
					<xs:minInclusive value="0" />
					<xs:maxInclusive value="2" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="RequestAdjustedCapacityRequest">
				<xs:annotation>
					<xs:documentation>Defines the CSP request towards DSO for a
						capacity adjustment
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Adjustment" type="tns:Adjustment"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RequestAdjustedCapacityResponse">
				<xs:annotation>
					<xs:documentation>Defines the response back from DSO towards CSP
						for a capacity adjustment
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Adjustment" type="tns:Adjustment"
						minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="Result" type="tns:Result" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Result">
				<xs:sequence>
					<xs:element name="Type" type="tns:ResultType" />
					<xs:element name="Details">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Detail" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Code" type="tns:ResultCode" />
											<xs:element name="Level" type="tns:LogLevelType" />
											<xs:element name="Message" type="tns:ResultMessage" />
											<xs:element name="Description" type="tns:DetailDescription"
												minOccurs="0" />
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ResultCode">
				<xs:restriction base="xs:string">
					<xs:maxLength value="15" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="ResultType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="SUCCESS" />
					<xs:enumeration value="ERROR" />
					<xs:enumeration value="FAILED" />
					<xs:enumeration value="NOT ALLOWED" />
					<xs:enumeration value="NOT IMPLEMENTED" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="LogLevelType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="INFO" />
					<xs:enumeration value="WARN" />
					<xs:enumeration value="ERROR" />
					<xs:enumeration value="DEBUG" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="ResultMessage">
				<xs:restriction base="xs:string">
					<xs:maxLength value="254" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="UnitOfMeasure">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Wh" />
					<xs:enumeration value="kWh" />
					<xs:enumeration value="varh" />
					<xs:enumeration value="kvarh" />
					<xs:enumeration value="W" />
					<xs:enumeration value="kW" />
					<xs:enumeration value="var" />
					<xs:enumeration value="kvar" />
					<xs:enumeration value="A" />
					<xs:enumeration value="V" />
					<xs:enumeration value="ASU" />
					<xs:enumeration value="dB" />
					<xs:enumeration value="Deg" />
					<xs:enumeration value="F" />
					<xs:enumeration value="g" />
					<xs:enumeration value="Hz" />
					<xs:enumeration value="kPa" />
					<xs:enumeration value="lx" />
					<xs:enumeration value="ms2" />
					<xs:enumeration value="N" />
					<xs:enumeration value="ohm" />
					<xs:enumeration value="pct" />
					<xs:enumeration value="RH" />
					<xs:enumeration value="RPM" />
					<xs:enumeration value="s" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="UpdateAggregatedUsageRequest">
				<xs:annotation>
					<xs:documentation>Defines the CSP request towards DSO for an update
						of the CSPs aggregated usage
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Usage" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="tns:EMSP" minOccurs="0" />
								<xs:element ref="tns:Cable" />
								<xs:element ref="tns:UsageBlock" maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="UpdateAggregatedUsageResponse">
				<xs:annotation>
					<xs:documentation>Defines the DSO response towards CSP on an update
						aggregated usage request
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Result" type="tns:Result" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="Value">
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="16" />
					<xs:fractionDigits value="2" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="Phase">
				<xs:restriction base="xs:int">
					<xs:minInclusive value="1" />
					<xs:maxInclusive value="3" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ValueType">
				<xs:simpleContent>
					<xs:extension base="tns:Value">
						<xs:attribute name="Unit" type="tns:UnitOfMeasure" />
						<xs:attribute name="Phase" type="tns:Phase" />
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:element name="CapacityBlock">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Capacity" type="tns:ValueType"
							minOccurs="1" maxOccurs="3" />
						<xs:element name="RemainingCapacity" type="tns:ValueType"
							minOccurs="0" maxOccurs="3" />
						<xs:element name="StartTime" type="tns:DateTime" />
						<xs:element name="EndTime" type="tns:DateTime" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EMSP" type="tns:EMSP" />
			<xs:element name="GetCapacityForecastRequest" type="tns:GetCapacityForecastRequest" />
			<xs:element name="GetCapacityForecastResponse" type="tns:GetCapacityForecastResponse" />
			<xs:simpleType name="SenderID">
				<xs:restriction base="xs:string" />
			</xs:simpleType>
			<xs:simpleType name="ReceiverID">
				<xs:restriction base="xs:string" />
			</xs:simpleType>
			<xs:complexType name="Parties">
				<xs:annotation>
					<xs:documentation>Element used in message header to identify the
						DSO and CSP for the concerned message
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="senderID" type="tns:SenderID" />
					<xs:element name="receiverID" type="tns:ReceiverID" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="Parties" type="tns:Parties" />
			<xs:element name="Priority" type="tns:Priority" />
			<xs:element name="DateTime" type="tns:DateTime" />
			<xs:element name="RequestAdjustedCapacityRequest" type="tns:RequestAdjustedCapacityRequest" />
			<xs:element name="RequestAdjustedCapacityResponse" type="tns:RequestAdjustedCapacityResponse" />
			<xs:element name="UpdateAggregatedUsageRequest" type="tns:UpdateAggregatedUsageRequest" />
			<xs:element name="UpdateAggregatedUsageResponse" type="tns:UpdateAggregatedUsageResponse" />
			<xs:element name="UsageBlock">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Usage" type="tns:ValueType"
							maxOccurs="unbounded" />
						<xs:element name="StartTime" type="tns:DateTime" />
						<xs:element name="EndTime" type="tns:DateTime" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:service name="DistributionSystemOperatorService">
		<wsdl:port name="DistributionSystemOperatorServiceSoap12"
			binding="tns:DistributionSystemOperatorServiceSoap12Binding">
			<soap:address
				location="http://LT-45890:8282/OSCP/DistributionSystemOperatorService" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:portType name="DistributionSystemOperatorService">
		<wsdl:operation name="UpdateAggregatedUsage">
			<wsdl:input message="tns:UpdateAggregatedUsageInput"
				wsaw:Action="/UpdateAggregatedUsage" />
			<wsdl:output message="tns:UpdateAggregatedUsageOutput"
				wsaw:Action="/UpdateAggregatedUsageResponse" />
		</wsdl:operation>
		<wsdl:operation name="GetCapacityForecast">
			<wsdl:input message="tns:GetCapacityForecastInput"
				wsaw:Action="/GetCapacityForecast" />
			<wsdl:output message="tns:GetCapacityForecastOutput"
				wsaw:Action="/GetCapacityForecastResponse" />
		</wsdl:operation>
		<wsdl:operation name="RequestAdjustedCapacity">
			<wsdl:input message="tns:RequestAdjustedCapacityInput"
				wsaw:Action="/RequestAdjustedCapacity" />
			<wsdl:output message="tns:RequestAdjustedCapacityOutput"
				wsaw:Action="/RequestAdjustedCapacityResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DistributionSystemOperatorServiceSoap12Binding"
		type="tns:DistributionSystemOperatorService">
		<wsaw:UsingAddressing />
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="UpdateAggregatedUsage">
			<soap:operation style="document" soapAction="/UpdateAggregatedUsage"
				soapActionRequired="true" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header use="literal" message="tns:Header" part="parties" />
				<soap:header use="literal" message="tns:Header" part="priority" />
				<soap:header use="literal" message="tns:Header" part="datetime" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="parameters" />
				<soap:header use="literal" message="tns:Header" part="parties" />
				<soap:header use="literal" message="tns:Header" part="priority" />
				<soap:header use="literal" message="tns:Header" part="datetime" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCapacityForecast">
			<soap:operation style="document" soapAction="/GetCapacityForecast"
				soapActionRequired="true" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header use="literal" message="tns:Header" part="parties" />
				<soap:header use="literal" message="tns:Header" part="priority" />
				<soap:header use="literal" message="tns:Header" part="datetime" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="parameters" />
				<soap:header use="literal" message="tns:Header" part="parties" />
				<soap:header use="literal" message="tns:Header" part="priority" />
				<soap:header use="literal" message="tns:Header" part="datetime" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RequestAdjustedCapacity">
			<soap:operation style="document" soapAction="/RequestAdjustedCapacity"
				soapActionRequired="true" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
				<soap:header use="literal" message="tns:Header" part="parties" />
				<soap:header use="literal" message="tns:Header" part="priority" />
				<soap:header use="literal" message="tns:Header" part="datetime" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="parameters" />
				<soap:header use="literal" message="tns:Header" part="parties" />
				<soap:header use="literal" message="tns:Header" part="priority" />
				<soap:header use="literal" message="tns:Header" part="datetime" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:message name="Header">
		<wsdl:part name="priority" element="tns:Priority" />
		<wsdl:part name="parties" element="tns:Parties" />
		<wsdl:part name="datetime" element="tns:DateTime" />
	</wsdl:message>
	<wsdl:message name="UpdateAggregatedUsageInput">
		<wsdl:part name="parameters" element="tns:UpdateAggregatedUsageRequest" />
	</wsdl:message>
	<wsdl:message name="UpdateAggregatedUsageOutput">
		<wsdl:part name="parameters" element="tns:UpdateAggregatedUsageResponse" />
	</wsdl:message>
	<wsdl:message name="GetCapacityForecastInput">
		<wsdl:part name="parameters" element="tns:GetCapacityForecastRequest" />
	</wsdl:message>
	<wsdl:message name="GetCapacityForecastOutput">
		<wsdl:part name="parameters" element="tns:GetCapacityForecastResponse" />
	</wsdl:message>
	<wsdl:message name="RequestAdjustedCapacityInput">
		<wsdl:part name="parameters" element="tns:RequestAdjustedCapacityRequest" />
	</wsdl:message>
	<wsdl:message name="RequestAdjustedCapacityOutput">
		<wsdl:part name="parameters" element="tns:RequestAdjustedCapacityResponse" />
	</wsdl:message>
</wsdl:definitions>